@CHARSET "UTF-8";

h2 {
	color:#3399FF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 1em;
}

h3 {
	color:#3399FF;
	font-family: "Lucida Console", Monaco, monospace;
	margin: 1em;
	text-align: left;
}

li, p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
textarea
{
    border: 1px solid #999999;
    width: 90%;
    height: 7em;
}


table {
    width: 90%;
    border: 1px solid #e5eff8;
    margin: 1em auto;
    border-collapse: collapse;
    margin-left: 0;
  	margin-right: auto;
}

td {
   /* color: #3399FF;*/
    border-bottom: 1px solid #e5eff8;
    border-left: 1px solid #e5eff8;
    padding: .3em 1em;
    text-align: left;
}

.custom_margin {
    margin: 1.2em;
}

#add_form_input {
	width: 100%;
}

#add_form_wrap {
	width: 90%;
}

#columns_wrap {
	overflow: hidden;
}

#content {
    overflow: hidden;
}

#sidebar {
	float: right;
	height: 100%;
	width: 20%;
	text-align: center;
}

#done_section {
}

#todo_section {
	background-color: #F0F0FF;
	border-radius: 25pt;
}