<!DOCTYPE html>
<html>
<head>
   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<title>About TODO-Done list</title>
	<script src="scripts/main.js"></script>
</head>
<body>
	<h2>TODO-Done list - incredibly simple task manager</h2>
	<p>
	   This is my "hello world" web application. It's created to be used for me because I need such kind of application and cannot find one to fit my needs.
	</p>
	<p>
		Author: Oleg Antonyan <a href="mailto:oleg.b.antonyan@gmail.com" target="_blank">e-mail</a> ::
		<a href="http://antlabs.ru" target="_blank">website</a> ::
		<a href="https://www.facebook.com/profile.php?id=100005362953409" target="_blank">facebook page</a>
		<br>
	    Source code: <a href="https://bitbucket.org/antlabs_dev/todo-list-for-app-engine" target="_blank">bitbucket repository</a>
    </p>
    <p>
        App version id: {{ app_version }}
    </p>
</body>
</html>