<!DOCTYPE html>
<html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
   		<title>All done items</title>
   		<script src="scripts/main.js"></script>
</head>
<body>
	<table>
    	{% for doneitem in doneitems %}
			<tr>
				<td>
				<ul>
					{% for doneitemline in doneitem.lines %}
						<li>{{ doneitemline }}</li>
					{% endfor %}
				</ul></td>
				<td>{{ doneitem.datetext}}</td>
			</tr>
		{% endfor %}
	</table>
</body>
</html>