{% extends "index.html" %}
{% block title %}Content{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
    <div class="custom_margin" id="todo_section">
	    <div id="add_form">
	    	<h3>todo for today ({{ today }})</h3>
	    	<div id="add_form_wrap">
		    	<form action="/add" method="post" id="add_form_text" class="custom_margin" onfocus="textFormInUse = true;">
			    	<input type="text" name="task_text" id="add_form_input">
			    	<input type="submit" value="Add new task" />
		    	</form>
		    </div>
	    </div>
	    <div class="custom_margin">
	    <form action="/submit" method="post" id="list_form">
	   		<ul>
			{% for item in todoitems %}
				<li>
				<input type="checkbox" name="{{ item.name }}" value="{{ item.value }}" onclick="submitOnClick()"/>
				{{ item.text }}
				</li>
			{% endfor %}
			</ul>
			<input type="submit" value="Submit" id="submit_button"/>
		</form>
	    </div>
    </div>
    <div class="custom_margin" id="done_section">
    	<h3>done today ({{ today }})</h3>
    	<form action="/add_done" method="post" id="done_form">
	    	<textarea name="done_text" onkeypress="catchKeyEvent(event);"></textarea><br>
	    	<input type="submit" value="Done (CTRL+Enter)" />
    	</form>
    	<h3>done recently (<a href="/alldones">view all</a>)</h3>
    	<table>
    	{% for doneitem in doneitems %}
			<tr>
				<td>
				<ul>
					{% for doneitemline in doneitem.lines %}
						<li>{{ doneitemline }}</li>
					{% endfor %}
				</ul></td>
				<td>{{ doneitem.datetext}}</td>
			</tr>
		{% endfor %}
		</table>
    </div>
{% endblock %}