<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
   	<title>TODO-Done list - {{ current_user }}</title>
   	<script src="scripts/main.js"></script>
</head>
<body onload="onLoad()">
    <div id="columns_wrap">
	    <div id="sidebar">
	        <a href="{{ login_url }}">{{ login_text }}</a>
	        <hr>
	        <ul>
		        <li><a href="/about" target="_blank">About this app</a></li>
		        <li><a href="/mobile_client" target="_blank">Mobile client</a></li>
	        </ul>
	        <div>
                <a href="https://developers.google.com/appengine/" target="_blank">
                    <img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
                        alt="Powered by Google App Engine" />
                </a>
            </div>
	    </div>
			<div id="content">
				{% block content %}{% endblock %}
	   </div>
	</div>
</body>
</html>